<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466630292665-ff8b6cadajjriep05vn2i9qsqpdl1f8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466630292665-ff8b6cadajjriep05vn2i9qsqpdl1f8s</string>
	<key>API_KEY</key>
	<string>AIzaSyDn5Yc-wdcbO_4nHde7e-JAP7x1taZ35o8</string>
	<key>GCM_SENDER_ID</key>
	<string>466630292665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skipdriver</string>
	<key>PROJECT_ID</key>
	<string>skipdriver-c6e91</string>
	<key>STORAGE_BUCKET</key>
	<string>skipdriver-c6e91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466630292665:ios:7c551cf8b90e3ced809768</string>
	<key>DATABASE_URL</key>
	<string>https://skipdriver-c6e91.firebaseio.com</string>
</dict>
</plist>